@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Roboto+Mono&display=swap');

:root{
    --Inconsolate: 'Inconsolata', monospace;
    --mono:  'Roboto Mono', monospace;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: #4D0BAB;
    color: #fff;
    font-family: var(--Inconsolate);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
}

.couter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 5rem;
}

.counter{
    font-size: 6rem;
    margin-top: 1rem;
}

@media (min-width: 580px) {
    body{
        flex-direction: unset;
    }
}


